{#
/**
 * @file
 * Default template for displays that use the TimelineJS style.
 *
 * @see template_preprocess_views_timelinejs_view_timelinejs()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('storymap') }}>
  <div id="mapdiv" style="width: 100%; height: 600px;"></div>
</div>
<div style="display:none;">
{{ json }}
</div>
